/* body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.counter-box {
  text-align: center;
}

h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.red {
  color: red;
}

.green {
  color: green;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 5px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */

body {
    text-align: center;
}

#strength {
    font-weight: bold;
}


/* .green {
  color: darkgreen;
}
.red {
  color: maroon;
}
.count{
  font-weight: bolder;
} */