* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.nav-bar {
    height: 40px;
    background-color: #242728;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-left {
    display: flex;
    gap: 4px;
    height: 40px;
    width: 75px;
    align-items: center;
    padding-left: 10px;
}

.fb-icon {
    font-size: 27px;
    background: white;
    color: #1877f2;
    border-radius: 50%;
}
.nav-logo {
    background-color: #4c4c4c;
    height: 27px;
    width: 27px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-search-button {
    background-color: #333334;
    height: 27px;
    width: 27px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-search-icon {
    font-size: 15px;
    color: #ffffff;
}

.nav-center {
    display: flex;
    margin: 0 auto;
    padding-left: 50px;
    gap: 65px;
}
.nav-center-icon {
    color: white;
    /* opacity: 0.6; */
}
.nav-center-icon:hover {
    opacity: 1;
}

.nav-right-icon {
    color: white;
    /* opacity: 0.6; */
}

.nav-right {
    display: flex;
    padding-right: 10px;
    gap: 5px;
}
.nav-right-button {
    background-color: #4c4c4c;
    height: 27px;
    width: 27px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right-avatar {
    background-color: #4c4c4c;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-right-user {
    font-size: 18px;
}
