/* body {
    text-align: center;
} */
/* div {
    height: 200px;
    width: 100vh;
    border: 1px solid black;
    margin: auto;
} */

/* .ll {
    height: 100px;
    width: 100px;
    border: 1px solid black;
    background-color: pink;
} */

div {
    height: 300px;
    width: 500px;
    background-color: pink;
}
li {
    background-color: green;
    height: 30px;
}
ul {
    background-color: blue;
}