@font-face {
  font-family: 'Billabong';
  src: url(./Billabong.otf) format('truetype');
}

body {
    background-color: black;
    margin: 0;
    overflow: hidden;
}
.main {
    height: 100vh;
    display: flex;
    padding: 0.5rem;
}
.sidebar {
    height: 100vh;
    width: 13.75rem;
    /* background-color: greenyellow; */
    padding: 0.5rem 0.75rem 1.25rem 0.75rem;
}

.logo {
  font-family: 'Billabong', cursive;
  font-size: 2rem;
  color: white;
  padding: 25px 12px 16px 12px;
}

.content {
    /* height: 100%; */
    background-color: blue;
    flex: 1;
    /* overflow: auto; */
    /* justify-content: center; */
}
.suggessions {
    height: 951px;
    width: 319px;
    background-color: aqua;
    margin-left: auto;
    padding-left: 4rem;
}
.sidebar-buttons{
    color: white;
}