h1, h3 {
    color: #b92b27;
}
#login {
    background-color: white;
}
#signup {
    background-color: #b92b27;
    color: white;
}
.a {
    background-color: #ffffff;
}
/* 
Descandent selector */
p a {
    color: #b92b27;
    background-color: yellow;
}
#myId p {
    color: green;
}

button:hover{
    color: black;
    background-color: white;
}
h3:hover{
    text-decoration: underline;
}
button:active{
    color: pink;
}
p:active{
    font-weight: bold;
    color: green;
}
input[type="radio"]:checked + label{
    color: #b92b27;
    font-weight: bold;
}
/* div:nth-of-type(2n) { */
    /* background-color: blueviolet; */
/* } */

p::first-line{
    color: #b92b27;
}