div {
    height: 100px;
    width: 100px;
    background-color: rgba(255, 0, 0, 0.6);
    margin: 0 auto;
    margin-top: 10px;
    transition: margin-top 2s ease-in 0.2s;
}

div:hover {
    background-color: blueviolet;
    margin-top: 400px;
    background-color: palevioletred;
}