.box {
    height: 100px;
    width: 300px;
    background-color: lightcoral;

    /* animation-name: coloranimate; */
    /* combine animation properties so nothing is overwritten by a later shorthand */
    animation: coloranimate 2s ease-in 0s 3 normal;
}

/* @keyframes fontanimation {
    from {
        font-size: 20px;
    }
    to {
        font-size: 40px;
    }
} */

@keyframes coloranimate {
    from {
        background-color: green;
    }
    to {
        background-color: beige;
    }
}