#container {
    height: 600px;
    width: 80%;
    background-color: antiquewhite;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    /* align-items: baseline; */
    align-content: center;
}

#org {
    align-self: flex-start;
    flex-grow: 1;
}

h1 {
    text-align: center;
}

#container div {
    height: 50px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    text-align: center;
    font-size: 1.5em;
    color: white;
}