h1 {
    /* text-align: center; */
}

.card {
    width: 300px;
    /* margin: 0 auto; */
    border: 3px solid black;
    border-radius: 12px;
    overflow: hidden;
}

.card-image {
    width: 100%;
    object-fit: cover;
    display: block;
}

.card-body {
    padding: 0 0 0 10px;
}