* {
    font-family: Courier New, Courier, monospace;
}
h1 {
    color: #1b74e4;
}
.a {
    background-color: black;
    color: white;
}
.a {
    color: white;
}
.userbtn {
    background-color: aqua;
}