h1 {
    font-family: league spartan;
    color: #ffa511;
    text-align: center;
    font-size: 55px;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5;
    text-decoration: teal double underline;
    text-transform: uppercase;
}
h2 {
    text-align: center;
    /* border: solid; */
    width: 100%;
    font-weight: normal;
}
h3 {
    text-align: center;
    /* border: solid; */
    width: 100%;
}
p {
    text-align: justify;
    font-weight: bolder;
    text-decoration: underline;
    /* text-decoration-color: red; */
    /* line-height: 2.5; */
}
a {
    text-decoration: none;
    /* color: green; */
}