section {
    margin-top: 100px;
}
div {
    width: 200px;
    height: 50px;
    text-align: center;
    background-color: greenyellow;
    border: 2px solid black;
    margin: 10px;
}
div:nth-of-type(2n) {
    
}