.container {
    height: 50px;
    /* width: 100%; */
    background-color: rgb(136, 136, 136);
    display: flex;
    align-items: center;
    padding: 0 25px;
    border-radius: 40px;
}

.hamburger .icon {
    width: 23px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin: 5px 0;
    border-radius: 20px;
    cursor: pointer;
}

.logo {
  height: 22px;
  margin-left: 20px;
  /* display: block; */
}

